@import '../../../global/styles/base/index.scss';

.Intro {
  padding-top: 150px;

  h1,
  h2 {
    font-size: 2.4em;
    line-height: 1.6em;
    margin: 0;
  }

  .Name {
    color: $secondary-bg;

    .Wave {
      display: inline-block;
    }

    &:hover {
      .Wave {
        animation-name: wave;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 0.25s;
      }
    }
  }
}

@keyframes wave {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(30deg);
  }
}
