@import '../../../global/styles/base/index.scss';

.ProjectTile {
  background-color: #8194a7;
  height: 100%;
  border-radius: 20px;
  flex-grow: 1;
  position: relative;

  &:hover,
  &:focus {
    .Button {
      transform: translateX(10px) rotate(-10deg);
    }
  }

  .TitleWrap {
    background-color: $primary-txt;
    color: $primary-bg;
    border-radius: 20px;
    padding: 15px;
    position: absolute;
    bottom: -20px;
    left: 20px;

    .Title {
      margin-bottom: 5px;
    }

    .Button {
      background-color: $secondary-bg;
      color: $secondary-txt;
      border: none;
      border-radius: 20px;
      padding: 20px;
      position: absolute;
      bottom: -20px;
      right: -20px;
      transition: transform 0.25s ease-in-out;
    }
  }
}
